*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-transform: capitalize;
    text-align: center;
    margin-top: 30px;
}
.f{
    /*display: grid;
    grid-template-columns: 20px 50px;
    grid-gap: 10px;*/
    background-color: antiquewhite;
    border-radius: 1%;
    margin-top: 10px;
}
.nom{
    margin-top: 30px;
}